1.create a function for finding the leap years within the given range

In [1]:
def leap_range():
    a,b=map(int, input().split())
    print("The leap years between ",a,"and ",b,"are")
    for i in range(a,b+1):
        if (i%4==0 and i%100!=0) or (i%400==0):
            print(i)
leap_range()

 2001 2100
The leap years between  2001 and  2100 are
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

2.Create a function for getting the armstrong numbers within the given range

In [4]:
def armstrong ():
    a,b=map(int, input().split())
    for i  in range (a,b+1):
        s=0
        t=i
        while i>0:
            r=i%10
            s+=r**3
            i=i//10
        if s==t:
            print(t)
        else:
            pass
armstrong()

0 153
0
1
153


3.create a function for getting the prime numbers within the range

In [3]:
def prime():
    start = int(input("Enter lower range: "))  
    end = int(input("Enter upper range: "))  
    for num in range(start,end + 1):
        if num > 1:
            for i in range(2,num):
                if (num % i) == 0:
                    break
            else:
                    print(num,end=",")
prime()

Enter lower range: 2
Enter upper range: 100
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,


4. Create a function for finding the count of elements in a string. "Srm university"

In [1]:
def count():
    a=input("Enter the string ")
    c=a.lower()
    b={}
    for i in c:
        if i in b:
            b[i]=b[i]+1
        else:
            b[i]=1
    return b           
count()

Enter the string srm university ap

{'s': 2,
 'r': 2,
 'm': 1,
 ' ': 2,
 'u': 1,
 'n': 1,
 'i': 2,
 'v': 1,
 'e': 1,
 't': 1,
 'y': 1,
 'a': 1,
 'p': 1}